/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialised;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* PROPERTIES */
:root {
  /* General measurement units */
  --sz-min: 0;
  --sz-xxxs: 0.25rem;
  --sz-xxs: 0.5rem;
  --sz-xs: 0.75rem;
  --sz-s: 1rem;
  --sz-md: 1.25rem;
  --sz-lg: 1.75rem;
  --sz-xl: 2rem;
  --sz-xxl: 2.25rem;
  --sz--xxxl: 2.75rem;
  --sz-max: 3rem;

  /* Font size units */
  --fs-min: 0.6rem;
  --fs-xs: 0.8rem;
  --fs-s: 1rem;
  --fs-md: 1.4rem;
  --fs-lg: 1.8rem;
  --fs-xl: 2.4rem;
  --fs-max: 3rem;

  /* Font weight units */
  --fw-min: 100;
  --fw-slim: 300;
  --fw-regular: 400;
  --fw-mid: 500;
  --fw-bold: 700;
  --fw-max: 900;

  /* Colors */
  --bg-main: #f8fafc;
  --bg-secondary: #d1d5db;
  --fg-main: #4169e1;
  --fg-secondary: #f8d081;
  --text-dark: #09090b;
  --text-dark-dim: #4b5563;
  --text-light: #fafafa;
  --text-light-dim: #9ca3af;
}

/* GENERAL ELEMENTS */
body {
  height: 100vh;
  display: block;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: var(--bg-secondary);
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-l);
}

h3 {
  font-size: var(--fs-md);
}

h4 {
  font-size: var(--fs-s);
}

h5 {
  font-size: var(--fs-xs);
}
s p {
  font-size: var(--fs-min);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  border-radius: 10px;
  padding: var(--sz-xxxs) var(--sz-lg);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

/* SEMANTIC ELEMENTS */
header {
  padding: var(--sz-min) var(--sz-lg);
  display: flex;
  align-items: center;
  gap: var(--sz-s);
  gap: var(--sz-s);
  background-color: var(--fg-main);
  color: var(--text-light);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  padding: var(--sz-xxs) 0;
  background-color: var(--fg-secondary);
  text-align: center;
  color: var(--text-dark);
}

/* INDIVIDUAL ELEMENTS */
header > * {
  font-weight: var(--fw-slim);
}

header i {
  font-size: var(--fs-md);
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--sz-s);
}

.card {
  border-radius: 15px;
  padding: var(--sz-s) var(--sz-md);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--bg-main);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  gap: var(--sz-xxs);
}

.card.card-book {
  height: fit-content;
}

.card.card-book button {
  width: fit-content;
  padding: var(--sz-xxxs);
}

.card.card-form li {
  display: flex;
  gap: var(--sz-s);
  width: 100%;
}

.card.card-form li input {
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  padding: var(--sz-min) var(--sz-s);
  background-color: var(--bg-secondary);
}

.card.card-form li input:hover,
.card.card-form li input:focus {
  outline: 2px solid var(--fg-main);
}

.card p {
  font-size: var(--fs-s);
}

.modal {
  display: none;
}

footer a {
  color: var(--text-dark);
}

/* UTILITIES */
.open {
  width: 90vw;
  height: 80%;
  display: flex;
}

.read {
  background-color: var(--fg-main);
  color: var(--text-light);
}

.unread {
  background-color: var(--fg-secondary);
  color: var(--text-dark);
}
